<%= form_for(@reading) do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>

 <div class="field">
    <%= f.label :tag_epc %><br>
    <%= f.collection_select :tag_epc, Tag.all, :id, :select_option %>
  </div>

  <div class="field">
    <%= f.label :antenna %><br>
		<%= f.select :antenna, options_for_select([0,1,2,3]) %>
  </div>


  <div class="actions">
    <%= f.submit "Update Reading", class: "btn btn-default" %>
  </div>
<% end %>
