<h1>Readings <small><%= link_to "Latest Readings", "#{ENV["RAILS_RELATIVE_URL_ROOT"]}/readings/latest_readings" %></small></h1>

<p>This page shows all of the RFID readings.  To see the latest readings, click
on "Latest Readings".</p>

<%= search_form_for @search, {:class => "form-inline form-centered"} do |f| %>  
	<div class="form-group">                                                      
		<%= f.label :antenna %>
		<% [0,1,2,3].each do |antenna| %> 
			<% checked = params[:q].nil? or (!params[:q].nil? and params[:q]["antenna_eq_any"].include?("#{antenna}")) %>		
			<div class="checkbox">
				<%= check_box_tag 'q[antenna_eq_any][]', antenna, checked %>
				<%= antenna %>
			</div>
		<% end %>
  </div>                                                                        
	<div class="form-group">                                                      
		<%= f.text_field :tag_epc_cont, placeholder: "Tag EPC Contains" %>
  </div>                                                                        
	<div class="form-group">                                                      
  <%= f.submit "Search", :class => "btn btn-primary" %>                         
  </div>
<% end %>

<%= link_to "Download CSV", readings_path(format: "csv") %>


<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
			<th>ID</th>
      <th>Time</th>
			<th>EPC</th>
      <th>Pen</th>
      <th>Cow Name</th>
      <th>Cow Position</th>
      <th>Antenna</th>
      <th> Antenna Attenuation </th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.id %></td>
        <td><%= reading.time %></td>
        <td><%= reading.tag_epc %></td>
        <td><%= reading.tag.nil? ? 'Unassigned': reading.tag.cow.pen %></td>
        <td><%= reading.tag.nil? ? 'Unassigned': reading.tag.cow.name %></td>
        <td><%= reading.tag.nil? ? 'Unassigned': reading.tag.position %></td>
        <td><%= reading.antenna %></td>
        <td><%= reading.antenna_attenuation %> </td>
        <td><%= link_to 'Show', reading %></td>
        <td><%= link_to 'Edit', edit_reading_path(reading) %></td>
        <td><%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">                                                  
  <div class="page_info"><%= page_entries_info @readings %></div>              
  <%= will_paginate @readings %>                                               
</div> 

<br>

<%= link_to 'New Reading', new_reading_path %>
