<p id="notice"><%= notice %></p>

<h1>Reading</h1>                                                      
                                                                                
<table class="table table-striped table-bordered table-condensed">              
  <tr>                                                                          
    <th>ID</th>                                                                 
    <td><%= @reading.id %></td>                                       
  </tr>                                                                         
                                                                                
  <tr>                                                                          
    <th>Time</th>                                                          
    <td><%= @reading.time %></td>
  </tr>                                                                         
                                                                                
  <tr>                                                                          
    <th>Tag EPC</th>                                                           
    <td><%= @reading.tag_epc %></td>                        
  </tr>                                                                         
                                                                                
  <tr>                                                                          
    <th>Antenna:</th> 
    <td><%= @reading.antenna %></td>                                 
  </tr>                                                                         
</table> 
  

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
