<h1>Watch</h1>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization', 'version':'1','packages':['timeline']}]}"></script>
<%= javascript_tag do %>
//google.setOnLoadCallback(drawChart);
$(function() {
   drawChart();
});

function drawChart() {
  var container = document.getElementById('example1');
  var chart = new google.visualization.Timeline(container);
  var dataTable = new google.visualization.DataTable();
	dataTable.addColumn({ type: 'string', id: 'Animal' });
	dataTable.addColumn({ type: 'date', id: 'Start' });
	dataTable.addColumn({ type: 'date', id: 'End' });

	dataTable.addRows([
		
	]);

  chart.draw(dataTable);
}

<% end %>
<div id="example1" style="width: 1000px; height: 360px;"></div>

<ul id="readings">
</ul>

<script type="text/javascript">
	var source = new EventSource('/readings/stream');
	var dataTable = new google.visualization.DataTable();
	var container = document.getElementById('example1');
  	var chart = new google.visualization.Timeline(container);
	dataTable.addColumn({ type: 'string', id: 'Animal' });
	dataTable.addColumn({ type: 'date', id: 'Start' });
	dataTable.addColumn({ type: 'date', id: 'End' });

	source.addEventListener('results', function(e){
		console.log('Received a message:', e.data);
		$("#readings").prepend("<li>"+ $.parseJSON(e.data).id +"</li>");
		dataTable.addRow('['+ '\'' + $.parseJSON(e.data).antenna + '\'' + ',' + '\''  + $.parseJSON(e.data).time + '\'' + ',' + '\'' + $.parseJSON(e.data).time + '\'' + ']');
		chart.draw(dataTable);
		if( $("#readings li").length > 100 ){
			$("#readings li:last").remove();
		}	
	});

	source.addEventListener('finished', function(e){
		console.log('Close:', e.data);
		source.close();
	});


	source.addEventListener('error', function(e){
		if (e.readyState == EventSource.CLOSED) {}	
		source.close();
	});
</script>

