<h1>Cows</h1>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Pen</th>
      <th>Date In</th>
      <th>Date Out</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @cows.each do |cow| %>
      <tr>
        <td><%= cow.id %></td>
        <td><%= cow.name %></td>
        <td><%= cow.pen %></td>
        <td><%= cow.date_in %></td>
        <td><%= cow.date_out %></td>
        <td><%= link_to "Download CSV", :action => :show, format: "csv", :id => cow.id %></td>
        <td><%= link_to 'Show Readings', cow %></td>
        <td><%= link_to 'Edit', edit_cow_path(cow) %></td>
        <td><%= link_to 'Destroy', cow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cow', new_cow_path %>
