<h1>Cow <%= @cow.name %></h1>
<p id="notice"><%= notice %></p>

<table  class="table table-striped table-bordered table-condensed">
	<tr>
		<th>ID</th> 
		<td><%= @cow.id %></td>
	</tr>
	<tr>
		<th>Name</th> 
		<td><%= @cow.name %></td>
	</tr>
	<tr>
  	<th>Pen</th> 
		<td><%= @cow.pen %></td>
	</tr>

	<tr>
  	<th>Date In</th> 
		<td><%= @cow.date_in%></td>
	</tr>

	<tr>
  	<th>Date Out</th> 
		<td><%= @cow.date_out %></td>
	</tr>
</table>

<div class="well">
<%= form_tag("#{ENV["RAILS_RELATIVE_URL_ROOT"]}/cows/#{@cow.id}", method: "get", role: "form", style: "text-align: left") do %>
  <div class="form-group">                                                          
    <%= label_tag(:from_date, "From Date:", class: "control-label") %>              
    <%= datetime_select "from", "", default: @from_date %>                          
  </div>                                                                            
  <div class="form-group">                                                          
    <%= label_tag(:to_date, "To Date:", class: "control-label") %>                  
    <%= datetime_select "to", "", default: @to_date %>                              
  </div>   
	<div class="form-group">                                                      
  	<%= submit_tag "Search", :class => "btn btn-primary" %>                         
  </div>                                                                        
<% end %>
</div>


<div class="flickr_pagination">                                                 
  <div class="page_info"><%= page_entries_info @readings %></div>              
  <%= will_paginate @readings %>                                               
</div> 

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
			<th>ID</th>
      <th>Time</th>
			<th>EPC</th>	
      <th>Antenna</th>
      <th>Antenna Attenuation</th>
      <th>Cow Position</th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.id %></td>
        <td><%= reading.time %></td>
        <td><%= reading.tag_epc %></td>
        <td><%= reading.antenna %></td>
        <td><%= reading.antenna_attenuation %></td>
				<td><%= reading.tag.position %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">                                                  
  <div class="page_info"><%= page_entries_info @readings %></div>              
  <%= will_paginate @readings %>                                               
</div> 

<br>


<%= link_to 'Edit', edit_cow_path(@cow) %> |
<%= link_to 'Back', cows_path %>
