<% @comparisons.each do |comparison| %>                                                       
	<tr>                                                                          
		<td><%= comparison.id %></td>                                                      
		<td><%= comparison.filename %></td>                                                    
		<td><%= comparison.created_at %></td>                                                    
		<td><%= link_to 'Show', comparison %></td>                                         
		<td><%= link_to 'Edit', edit_comparison_path(comparison) %></td>                          
		<td><%= link_to 'Destroy', comparison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>                                                                         
<% end %>           

<div class="flickr_pagination">                                                     
  <div class="page_info"><%= page_entries_info @comparisons %></div>                  
  <%= will_paginate @comparisons %>                                                  
</div>
