<h1>Run a Comparison</h1>
<p><strong>Instructions:</strong> Select what cow positions do you want to consider in the comparison generation.
Input up to five bout sizes.
Upload a CSV file.
Generating the comparison can take several minutes.
</p>

<div class="well">
<%= form_tag({action: :upload}, multipart: true) do %>
  <div class="form-group">                                                      
    <%= label_tag(:tag_positions, "Tag Positions:", class: "control-label") %>
    <% ["Left Ear","Right Ear", "Tail Wrap", "Rump Sticker", "Vaginal logger", "None"].each do |tag_position| %> 
      <% checked = params[:q].nil? or (!params[:q].nil? and params[:q]["tag_positions_eq_any"].include?("#{tag_position}")) %>       
      <div class="checkbox-inline">
      <%= check_box_tag 'tag_positions[]', tag_position, (params["tag_positions"].nil? or params["tag_positions"].include?(tag_position)) %>
      <%= tag_position %>
      </div>
    <% end %> 
  </div>
	
		<div class="form-group col-md-6">
			<%= label_tag(:bout_sizes, "Bout Sizes:", class: "control-label") %>
			<%= number_field_tag :b1, 5, class: "form-control input-sm" %><br/>
			<%= number_field_tag :b2, 10, class: "form-control input-sm" %><br/>
			<%= number_field_tag :b3, 15, class: "form-control input-sm" %><br/>
			<%= number_field_tag :b4, 20, class: "form-control input-sm" %><br/>
			<%= number_field_tag :b5, 25, class: "form-control input-sm" %><br/>
			<%= number_field_tag :b6, 30, class: "form-control input-sm" %><br/>
			<%= number_field_tag :b7, 35, class: "form-control input-sm" %><br/>
			<%= number_field_tag :b8, 40, class: "form-control input-sm" %><br/>
		</div>
		<div class="form-group col-md-6">
			<%= label_tag(:sandwich_sizes, "Sandwich Sizes:", class: "control-label") %>
			<%= number_field_tag :s1, 5, class: "form-control input-sm" %><br/>
			<%= number_field_tag :s2, 10, class: "form-control input-sm" %><br/>
			<%= number_field_tag :s3, 15, class: "form-control input-sm" %><br/>
			<%= number_field_tag :s4, 20, class: "form-control input-sm" %><br/>
			<%= number_field_tag :s5, 25, class: "form-control input-sm" %><br/>
			<%= number_field_tag :s6, 30, class: "form-control input-sm" %><br/>
			<%= number_field_tag :s7, 35, class: "form-control input-sm" %><br/>
			<%= number_field_tag :s8, 40, class: "form-control input-sm" %><br/>
		</div>

  <div class="form-group">
    <%= file_field_tag 'uploaded_file', style: "display: inline" %>
  </div>
  <div class="form-group">
    <%= submit_tag("Run Comparison", class: "btn btn-success form-control") %> 
  </div>
<% end %>
</div>

<h1>Comparisons</h1>

<table class="table table-striped table-bordered table-condensed">                  
  <thead>                                                                           
    <tr>                                                                            
      <th>ID</th>                                                                   
      <th>File Name</th>                                                                 
      <th>Created At</th>                                                                 
      <th colspan="4">Actions</th>                                                  
    </tr>                                                                           
  </thead>                                                                          
                                                                                    
  <tbody id="comparisons">                                                                           
    <% @comparisons.each do |comparison| %>                                                       
      <tr>                                                                          
        <td><%= comparison.id %></td>                                                      
        <td><%= comparison.filename %></td>                                                    
        <td><%= comparison.created_at %></td>                                                    
        <td><%= link_to "Download CSV", :action => :show, format: "csv", :id => comparison.id %></td>
        <td><%= link_to 'Show', comparison %></td>                                         
        <td><%= link_to 'Edit', edit_comparison_path(comparison) %></td>                          
        <td><%= link_to 'Destroy', comparison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>                                                                         
    <% end %>           
  </tbody>                                                                          
</table>  



