<%# add navigation links to this file %>                                            

<li class="<%= 'active' if current_page?(cows_path)%>"><%= link_to 'Cows', cows_path %></li>
<li class="<%= 'active' if current_page?(tags_path)%>"><%= link_to 'Tags', tags_path %></li>
<li class="<%= 'active' if current_page?(readings_path)%>"><%= link_to 'RFID Readings', readings_path %></li>
<li class="<%= 'active' if current_page?(intervals_path)%>"><%= link_to 'Intervals', intervals_path %></li>
<li class="<%= 'active' if current_page?(power_readings_path)%>"><%= link_to 'Power Readings', power_readings_path %></li>
<li class="<%= 'active' if current_page?(comparisons_path)%>"><%= link_to 'Comparisons', comparisons_path %></li>
<% if current_user %>
	<p class="navbar-text"><%= current_user.name %> (<%= link_to "Sign out", signout_path, id: "sign_out" %>)
<% else %>
	<li>
		<%= link_to image_tag("Red-signin_Medium_base_44dp.png"), "#{ENV["RAILS_RELATIVE_URL_ROOT"]}/auth/google_oauth2", id: "sign_in" %>
	</li>
<% end %>
