<%= form_for(@power_reading) do |f| %>
  <% if @power_reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@power_reading.errors.count, "error") %> prohibited this power_reading from being saved:</h2>

      <ul>
      <% @power_reading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.text_field :power %>
  </div>
  <div class="field">
    <%= f.label :pen %><br>
    <%= f.number_field :pen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
