<h1>File Upload</h1>
<p>Upload a CSV file</p>

<%= form_tag({action: :upload}, multipart: true) do %>
	<div class="form-group">                                                      
		<%= label_tag(:pen, "Pen:", class: "control-label") %>
		<% [1, 2].each do |pen| %> 
			<% checked = !params[:pen].nil? and params[:pen].to_i == pen %>
			<div class="radio-inline">
			<%= radio_button_tag 'pen', pen, checked %>
			<%= pen %>
			</div>
		<% end %>
	</div>


	<div class="form-group">
  	<%= file_field_tag 'uploaded_file' %>
	</div>
	<div class="form-group">
		<%= submit_tag("Upload File", class: "btn btn-primary") %> 
	</div>
<% end %>




<h1>Power Readings</h1>
                                                                               
<div class="flickr_pagination">                                                 
  <div class="page_info"><%= page_entries_info @power_readings %></div>              
</div> 

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Power</th>
      <th>Pen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @power_readings.each do |power_reading| %>
      <tr>
        <td><%= power_reading.id %></td>
        <td><%= power_reading.time %></td>
        <td><%= power_reading.power %></td>
        <td><%= power_reading.pen %></td>
        <td><%= link_to 'Show', power_reading %></td>
        <td><%= link_to 'Edit', edit_power_reading_path(power_reading) %></td>
        <td><%= link_to 'Destroy', power_reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="flickr_pagination">                                                 
  <div class="page_info"><%= page_entries_info @power_readings %></div>              
  <%= will_paginate @power_readings %>                                               
</div> 

<%= link_to 'New Power reading', new_power_reading_path %>
