<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @power_reading.time %>
</p>

<p>
  <strong>Power:</strong>
  <%= @power_reading.power %>
</p>

<p>
  <strong>Pen:</strong>
  <%= @power_reading.pen %>
</p>

<%= link_to 'Edit', edit_power_reading_path(@power_reading) %> |
<%= link_to 'Back', power_readings_path %>
