<%= form_for(@heartbeat) do |f| %>
  <% if @heartbeat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@heartbeat.errors.count, "error") %> prohibited this heartbeat from being saved:</h2>

      <ul>
      <% @heartbeat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pen %><br>
    <%= f.number_field :pen %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
