<h1>Listing heartbeats</h1>

<table>
  <thead>
    <tr>
      <th>Pen</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heartbeats.each do |heartbeat| %>
      <tr>
        <td><%= heartbeat.pen %></td>
        <td><%= heartbeat.time %></td>
        <td><%= link_to 'Show', heartbeat %></td>
        <td><%= link_to 'Edit', edit_heartbeat_path(heartbeat) %></td>
        <td><%= link_to 'Destroy', heartbeat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heartbeat', new_heartbeat_path %>
