<div class="well">
<%= form_for(@tag, html: {:class => "form-centered", role: "form"}) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :epc, class: "control-label" %>
    <%= f.text_field :epc, :class => "input-xxlarge form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag_type, class: "control-label" %>
		<%= f.select :tag_type, options_for_select(["Squig", "Square", "Sit", "Short"], @tag.tag_type), {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :cow_id, class: "control-label" %>
    <%= f.collection_select :cow_id, Cow.all, :id, :select_option, {}, {class: "form-control"} %>                
  </div>                                                                            

  <div class="form-group">
    <%= f.label :position, class: "control-label" %>
    <%= f.text_field :position, class: "form-control" %>
  </div>

  <div class="form-group">                                                          
    <%= label_tag(:date_on, "Date On:", class: "control-label") %>              
    <%= datetime_select "from", "", default: @tag.date_on, class: "form-control" %>                          
  </div>                                                                            
                                                                                    
  <div class="form-group">                                                          
    <%= label_tag(:date_off, "Date Off:", class: "control-label") %>                  
    <%= datetime_select "to", "", default: @tag.date_off %>                              
  </div>  


  <div class="actions">
    <%= f.submit "Update", :class => "btn btn-primary form-control" %>
  </div>
<% end %>
</div>
